<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<style>
   .modal_space{margin: 0;padding: 0;box-sizing: border-box; }
   .modal_body{background-color: #f7f7f7;}
   ul>li{list-style: none}
   a{text-decoration: none;}
   .clearfix::after{content: "";display: block;clear: both;}
   
   textarea {
      padding: 10px;
      line-height: 1.5;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 1px #999;
      resize:none;
      /*overflow:hidden;*/
   }
   #joinForm{width: 460px;margin: 0 auto;}
   ul.join_box{border: 1px solid #ddd;background-color: #fff;}
   .checkBox,.checkBox>ul{position: relative;}
   .checkBox>ul>li{float: left;}
   .checkBox>ul>li:first-child{width: 85%;padding: 15px;font-weight: 600;color: #888;}
   .checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
   .checkBox textarea{width: 96%;height: 90px; margin: 0 2%;background-color: #f7f7f7;color: #888; border: none;}
   .footBtwrap{margin-top: 15px;}
   .footBtwrap>li{float: left;width: 50%;height: 60px;}
   .footBtwrap>li>a{display: block; width: 100%;height: 100%; font-size: 20px;text-align: center;line-height: 60px;border-color:#212529; border-style: solid; border-width: thin; text-decoration:none;}
   a.fpmgBt2{background-color: lightsalmon;color: #fff;}
   a.fpmgBt1{background-color: #fff;color:#888;}
</style>
   
<script>
   $(document).ready(function(){
      $("#check_btn").on("click", function(){
         if ( $('input:checkbox[name="c1"]').is(":checked") == false) {
            Swal.fire({
               icon: 'warning',
               title: '잠시만요!',
               text: '개인정보 수집 및 이용 동의를 확인해주세요!',
            })
         }else if($('input:checkbox[name="c1"]').is(":checked") == true) {
            $("input:checkbox[id='checkbox']").prop("checked", true);
         }
      });
   });

</script>



<div class="modal_space">
   <div class="modal_body">
      <div id="ex1" class="modal" style="position: static; overflow: auto; padding: 10px; height: 90%">
         <form id="joinForm" style="padding: 0px 0px 0px 0px;">
            <ul class="join_box" style="padding: 0px 0px 0px 0px;">
               <li class="checkBox">
                  <ul class="clearfix">
                     <li>개인정보 수집 및 이용 동의,
                        개인정보 제3자 제공에 대한 별도 동의(선택)
                        이용약관 입니다.
                     </li>
                  </ul>
               </li>
               <li class="checkBox check01">
                  <ul class="clearfix">
                     <li>개인정보 수집 및 이용 동의(필수)</li>
                     <li class="checkBtn">
                        <input type="checkbox" name="c1">
                     </li>
                  </ul>
                  <textarea disabled="disabled" style="height: 300px;">
개인정보보호법에 따라 마이비데에 회원가입 신청하시는 분께 수집하는 개인정보의 항목, 개인정보의 수집 및 이용목적, 개인정보의 보유 및 이용기간, 동의 거부권 및 동의 거부 시 불이익에 관한 사항을 안내 드리오니 자세히 읽은 후 동의하여 주시기 바랍니다.

1. 수집하는 개인정보
•   - 회원 가입 시에 ‘아이디, 비밀번호, 이름, 생년월일, 성별을 필수항목으로 수집합니다.
서비스 이용 과정에서 이용자로부터 수집하는 개인정보는 아래와 같습니다.
마이비데 내의 개별 서비스 이용에서 해당 서비스의 이용자에 한해 추가 개인정보 수집이 발생할 수 있습니다. 추가로 개인정보를 수집할 경우에는 해당 개인정보 수집 시점에서 이용자에게 ‘수집하는 개인정보 항목, 개인정보의 수집 및 이용목적, 개인정보의 보관기간’에 대해 안내 드리고 동의를 받습니다.

2. 수집한 개인정보의 이용
마이비데 및 마이비데 관련 제반 서비스(모바일 웹/앱 포함)의 회원관리, 서비스 개발・제공 및 향상, 안전한 인터넷 이용환경 구축 등 아래의 목적으로만 개인정보를 이용합니다.
•   - 법령 및 마이비데 이용약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정도용 및 부정거래 방지, 약관 개정 등의 고지사항 전달, 분쟁조정을 위한 기록 보존, 민원처리 등 이용자 보호 및 서비스 운영을 위하여 개인정보를 이용합니다.
•   - 서비스 이용기록과 접속 빈도 분석, 서비스 이용에 대한 통계, 서비스 분석 및 통계에 따른 맞춤 서비스 제공 및 광고 게재 등에 개인정보를 이용합니다.
•   - 보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축을 위해 개인정보를 이용합니다.

3. 개인정보의 보관기간
회사는 원칙적으로 이용자의 개인정보를 회원 탈퇴 시 지체없이 파기하고 있습니다.
단, 이용자에게 개인정보 보관기간에 대해 별도의 동의를 얻은 경우, 또는 법령에서 일정 기간 정보보관 의무를 부과하는 경우에는 해당 기간 동안 개인정보를 안전하게 보관합니다.
이용자에게 개인정보 보관기간에 대해 회원가입 시 또는 서비스 가입 시 동의를 얻은 경우는 아래와 같습니다.
•   - 부정 가입 및 이용 방지
부정 이용자의 가입인증 휴대전화번호 또는 DI (만14세 미만의 경우 법정대리인DI) : 탈퇴일로부터 6개월 보관
•   탈퇴한 이용자의 휴대전화번호(복호화가 불가능한 일방향 암호화(해시처리)) : 탈퇴일로부터 6개월 보관
•   휴대전화번호:등록/수정/삭제 요청 시로부터 최대1년
•   ID : 서비스 탈퇴 후 6개월 보관

참고로 마이비데는 ‘개인정보 유효기간제’에 따라 1년간 서비스를 이용하지 않은 회원의 개인정보를 별도로 분리 보관하여 관리하고 있습니다.

4. 개인정보 수집 및 이용 동의를 거부할 권리
이용자는 개인정보의 수집 및 이용 동의를 거부할 권리가 있습니다. 회원가입 시 수집하는 최소한의 개인정보, 즉, 필수 항목에 대한 수집 및 이용 동의를 거부하실 경우, 회원가입이 어려울 수 있습니다.

                  </textarea>
               </li>
               <li class="checkBox check02">
                  <ul class="clearfix">
                     <li>개인정보 제3자 제공에 대한 별도 동의(선택)</li>
                     <li class="checkBtn">
                        <input type="checkbox" name="c2">
                     </li>

                  </ul>
                  <textarea disabled="disabled" style="height: 200px;">
•   ① 개인정보를 제공받는 자 : 예시) ○○본사
•   ② 개인정보를 제공받는 자의 개인정보 이용 목적 : 예시)고객 이미지 수집
•   ③ 제공하는 개인정보의 항목 : 예시)성명, 전화번호, 생년월일, 성별, 이미지, 주소
•   ④ 개인정보를 제공받는 자의 개인정보 보유 및 이용 기간 : 예시)제공 후 1년
•   ⑤ 동의를 거부할 수 있으며, 예시) 동의 거부시 ○○ 서비스가 제공되지 않습니다.
                  </textarea>
               </li>
            </ul>
            <ul class="footBtwrap clearfix" style="padding-left: 0px;">
               <li><a href ="#close-modal" class="fpmgBt1" rel="modal:close">비동의</a></li>
               <li><a href ="#close-modal" class="fpmgBt2" rel="modal:close" id="check_btn">동의</button></li>
            </ul>
         </form>
      </div>
   </div>
</div>